.container-fluid{
    background-color: rgb(7, 95, 14);
    color: white;
    margin-left: 18px;

    
}
a{
    color: aliceblue;
}
.img{
    justify-content: end;
    text-align: end;

}
.texto{
  font-size: 25px;  
  margin-left: 10px;
  margin-top: 6px;

  
}